.wrapper{
    height: 300px;
    background-color: rgb(43,112,222);
    align-items: center;   
    text-align: center
}

.body{
    display: block;
    padding-top: 20px;
    font-size: 35px;
    color: white;
}

.wrapper button {
    margin-top: 20px;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color: red;
    color: white;
}



.wrapper ul{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

